<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joguin da velha</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class='game'></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="JogoDaVelha.js"></script>
    <script>
        function game(){
            axios.get('http://localhost:3001/api')
            .then(response => new JogoDaVelha(response))
            .catch(error => console.warn(error));
            
        }
        setInterval(game, 1500);
    </script>

    
</body>
</html>